.paper-detail {
  margin: auto;
  margin-top: 70px;
  width: 750px;
}
.board_title {
  font-size: 27px;
  margin: 5px 0px 5px 0px;
    font-weight: bold;
  text-align: center;
}
.board_tag {
  padding: 5px 10px;
  border-radius: 11px;
  background-color: #1876fb;
  color: white;
  font-size: 13px;
  margin-right: 15px;
}
.workdate {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  width: 42%;
  padding: 0px 10px;

}
.work_paper {
  width: 100%;
  margin: 10px auto;
}
.worknumber {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  width: 17%;
  padding: 0px 10px;

}
.workstart {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 42%;
  border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    padding: 0px 10px;

}
.reqireskile {
      width: 80%;
      display: flex;
      margin: 40px 0px 0px 55px;

}
.workbody {
}

.payment {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  width: 27%;
  padding: 0px 10px;
}
.textlabel {
  font-weight: bold;
}
.textlabel2 {
  padding-left: 10px;
  font-weight: bold;
}
.board-body
{
  width: 80%;
  min-height: 200px;
  margin:40px 0px 0px 55px;
  padding-top:20px;
}
.upside{
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}
.board_tag_div
{
  margin-left: 50px;
}