.paper-detail {
  margin: auto;
  margin-top: 70px;
  width: 750px;
}
.paper {
  max-width: 936;
  width: 50%;
  margin: 30px auto;
  overflow: "hidden";
}
.board_title {
  font-size: 23px;
  padding: 10px 0 10px 0px;
  font-weight: bold;
  text-align: center;
}
.board_tag {
  padding: 5px 10px;
  border-radius: 11px;
  background-color: #1876fb;
  color: white;
  font-size: 13px;
  margin-right: 15px;
}
.workdate {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  width: 25%;
  padding: 20px 10px 20px 0px;
}
.work_paper {
  width: 100%;
  margin: auto;
}
.worknumber {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  width: 25%;
  padding: 20px 10px 20px 0px;
}
.workstart {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  padding: 20px 10px 20px 0px;
}

.reqireskile {
  width: 80%;
  display: flex;
  margin: 40px 0px 0px 55px;
}
.workbody {
}

.payment {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  width: 25%;
  padding: 20px 10px 20px 0px;
}
.textlabel {
  font-weight: bold;
}
.textlabel2 {
  padding-left: 10px;
  font-weight: bold;
}
.board-body {
  width: 80%;
  min-height: 200px;
  margin: 40px 0px 0px 55px;
}
.upside {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.board_tag_div {
  margin-left: 50px;
}
.board-detail-item {
  margin-top: 10px;
}
