.apply-paper-detail {
  margin: auto;
  margin-top: 70px;
  width: 750px;
}
.custom-modal-style {
  width: 700px;
  height: 500px;
}
.modal-content {
  padding: 30px;
}
.apply-paper {
  width: 60%;
  margin: 30px auto;
  overflow: "hidden";
  min-width: 860px;
}
