.titlename {
  font-weight: bold;
  color: #007bff;
}
.usertitle {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.userbody {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.userbutton {
  margin: auto;
}

.space {
  width: 30px;
  height: 30px;
}
.MuiFilledInput-root {
  position: relative;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.09);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.left {
  width: 50%;
  height: 100%;
}

.label {
  display: flex;
  flex-direction: column;
}

.label2 {
  margin-left: 38%;
}

.userspan {
  display: flex;
  width: 20%;
}
.userspan2 {
  display: flex;
  width: 3%;
}

.userspan-email {
  display: flex;
  width: 20%;
  margin-top: 7px;
}
.userspan-email2 {
  display: flex;
  width: 3%;
  margin-top: 7px;
}

.userspan3 {
  display: flex;
  width: 72%;
  padding-left: 5px;
}

.MuiFormLabel-root
  .MuiInputLabel-root
  .MuiInputLabel-formControl
  .MuiInputLabel-animated {
  position: relative;
  bottom: 20px;
  margin-left: 3rem;
}
.user-paper {
  width: 50%;
  margin: 30px auto;
  overflow: "hidden";
  min-width: 633px;
}
