.main {
  background-color: #eaeff1;
}
.tag-paper {
  max-width: 936;
  width: 50%;
  margin: 30px auto;
  overflow: "hidden";
  min-width: 587px;
}
.tag_add_button {
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  left: 10px;
}
.paper_tagadd {
  padding-bottom: 10px;
  max-width: 936;
  width: 50%;
  margin: 30px auto;
  margin-bottom: 50px;
  min-width: 587px;
}
.searchBar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.searchInput {
  margin-top: 10px;
}
.block {
  display: "block";
}

.searchdiv {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}
