.LoginTitle {
  margin-top: 100px;
  margin-left: 38%;
  font-size: 35px;
  font-weight: bolder;
}
.ID {
  margin-top: 10px;
  margin-left: 44%;
}
.password {
  margin-top: 30px;
  margin-left: 44%;
}
.submit {
  margin-top: 30px;
  margin-left: 48%;
}
.loginform {
  margin-top: 50px;
}
.MuiPagination-ul{
  justify-content: center;
}